@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border2 {
        @apply  border border-primaryColor py-2 px-4 text-primaryColor font-bold rounded-full hover:bg-primaryColor hover:text-white active:scale-90 transition-all
    }

    .border1 {
        @apply  py-2 px-4 bg-primaryColor transition-all text-white rounded-full border border-transparent font-bold hover:bg-inherit hover:border hover:border-primaryColor hover:text-primaryColor active:scale-90
    }

    .linkStyle {
        @apply text-textColor font-semibold hover:text-secondaryColor transition-all
    }

    .myFlex {
        @apply flex justify-between items-center
    }
    .forms{
        @apply flex flex-col gap-8 items-center border h-3/4 w-1/4 p-6 shadow-xl rounded-badge
    }
    .formsRegister{
        @apply flex flex-col gap-8 items-center border h-3/4 w-1/3 p-6 shadow-xl rounded-badge
    }
}

@layer base {
    .Mycontainer {
        @apply container max-w-[1100px] mx-auto my-0 px-8;
    }
}
@layer utilities {
    .bg-login-bg {
      background-image: url('../img/loginpage.svg');
    }
  }

body {
    font-family: 'Open', sans-serif;
}
.Background{
    background:url(./img/loginpage.svg);
    background-repeat: no-repeat;
    opacity: 1;
}
/* .bacgroundUl{
    background: url(./img/mobile-note-list-concept-illustration.png);
    background-repeat: no-repeat;
  background-size: contain;

} */
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}
/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: black !important;
}
.counter-input {
    width: 64px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    -moz-appearance: textfield;
  }
  
  .counter-input::-webkit-outer-spin-button,
  .counter-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  